<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.AnswerMapper">
  <select id="findAll" resultType="com.briup.app02.bean.Answer">
    select * from poll_answer
  </select>
  <select id="findById" parameterType="long" resultType="com.briup.app02.bean.Answer">
    select * from poll_answer where id = #{id}
  </select>
  <delete id="deleteById" parameterType="long" >
    delete from poll_answer where id = #{id}
  </delete>
  <insert id="save" parameterType="com.briup.app02.bean.Answer">
    insert into poll_answer values (null,#{selection},#{check},#{content},#{survey_id})
  </insert>
  <update id="update" parameterType="com.briup.app02.bean.Answer">
    update poll_answer 
    set selection=#{selection},check=#{check},content=#{content},survey_id=#{survey_id}
     where  id=#{id}
  </update>
</mapper>