<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.app02.dao.QqMapper">
  <select id="findAll" resultType="com.briup.app02.bean.Qq">
    select * from poll_Qq
  </select>
  <select id="findById" parameterType="long" resultType="com.briup.app02.bean.Qq">
    select * from poll_Qq where id = #{id}
  </select>
  <delete id="deleteById" parameterType="long" >
    delete from poll_Qq where id = #{id}
  </delete>
  <insert id="save" parameterType="com.briup.app02.bean.Qq">
    insert into poll_Qq values (null,#{question_id},#{questionnaire_id})
  </insert>
  <update id="update" parameterType="com.briup.app02.bean.Qq">
    update poll_Qq 
    set name=#{name},question_id=#{question_id},questionnaire_id=#{questionnaire_id}
     where  id=#{id}
  </update>
</mapper>